<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edit</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

	<div class="container">
    	{% block content %}
    <center>
    <h1 class="display-3" style="background-color:#000000;color:#FFFF99;">Edit</h1>
    <form method = 'PUT' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' ">
            {% for field in edit_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg btn-warning">Submit</button>
    </form>
</center>
	{% endblock %}
	</div>
</body>
</html>