
<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">
 
  {% block content %}
  <nav class="navbar navbar-light" style="background-color:#FF0033;">
    
      <a href="#" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">App</a>
      
     
      <a href="/edit/{{cust.id}}" class = 'navbar-link btn-lg' style="background-color:#FFCC33;color:#000000;">Edit</a>
      <a href="/delete/{{cust.id}}" class = 'navbar-link btn-lg' style="background-color:#FFCC33;color:#000000;">Delete</a>
      <a href="/deactivate/{{cust.id}}" class = 'navbar-link btn-lg' style="background-color:#FFCC33;color:#000000;">Deactivate</a>
      <a href="/signout" class = 'navbar-link btn-lg' style="background-color:#FFCC33;color:#000000;">Signout</a> 
   
  </nav>
  {% endblock %}

</body>
</html>
